<app-header></app-header>
<div class="header2">
    <div class="img1"></div>
    <div class="img2"></div>
    <div class="img3"></div>
    <div class="img4"></div>
    <div class="img5"></div>
    <a (click)="goToAllJobs()" class="view">{{allJobsText}}</a>
    <a (click)="goToAssignedJobs()" *ngIf="!isProvider" class="view">View Assigned jobs</a>
    <button (click)="goToAddJob()" *ngIf="canAdd" mat-flat-button class="button item">
        Add job
    </button>
</div>

<a class="introduction-text introduction-first">Need a part time job?</a>
<a class="introduction-text">We have a wide</a>
<a class="introduction-text">range of opportunities</a>
<a class="introduction-text">waiting for you!</a>
<div class="backgroud-img"></div>