@import "../../../../assets/variables.scss";

.card{
    margin-top: 1%;
    background-color: white;
    justify-content: space-between;
    display: flex;
}

.jobImage{
    height: 150px;
    margin-left: 5%;
    margin-top: 1.5%;
}

.info {
    width: 60%;
    h3{
        color: $dark-blue;
    }
    h4{
        color: $dark-blue;
    }
    h5{
        color: $dark-blue;
    }
}

.date{
    color: grey;
    margin-right: 5%;
    margin-top:4%;
}

.divider{
    margin-top: 2.5%;
}