<div class="body">
  <div class="container">
    <div class="logo">
    </div>
    <div class="formLogin">
      <div *ngIf="error1" class="err">Invalid username or password! </div>
    
      <div class="form-field-container">
        <mat-form-field appearance="outline" class="form-field">
          <input [(ngModel)]= "username" id="username" name="username" matInput placeholder="Username">
          <mat-hint></mat-hint>
        </mat-form-field>
      </div>
      <div class="form-field-container">
        <mat-form-field appearance="outline" class="form-field">
          <input [(ngModel)]="password" type="password"  id="password" name="password" matInput placeholder="Password">
          <mat-hint></mat-hint>
        </mat-form-field>
      </div>
      <button (click)="login()" mat-flat-button class="login-button">
        Log In
      </button>
      <p class="sign-up">Don't have an account? Sign up <u (click)=goToRegister()>here</u></p>
    </div>

  </div>
</div>