<header class="header">
    <div class="logo"></div>
    <a class="title">Jobs App</a>
    <div class="right-items">
    <div class="form-field-container item">
            <mat-form-field appearance="outline" class="form-field">
                <input matInput placeholder="Search">
            <mat-hint></mat-hint>
        </mat-form-field>
    </div>
    <button (click)="goToLogin()" mat-flat-button class="button item">
            Log In
    </button>
    <button (click)="goToRegister()" mat-flat-button class="button item">
            Register
    </button>
</div>
</header>

<div class="header2">
<div class="img1"></div>
<div class="img2"></div>
<div class="img3"></div>
<div class="img4"></div>
<div class="img5"></div>
<a class="view">View all</a>
</div>

<a class="introduction-text introduction-first">Need a part time job?</a>
<a class="introduction-text">We have a wide</a>
<a class="introduction-text">range of opportunities</a>
<a class="introduction-text">waiting for you!</a>
<div class="backgroud-img"></div>