<!--<app-header></app-header>-->
<div class = "body">
<div class="flex">
  <mat-toolbar color="dark" class="subtitle">Edit profile</mat-toolbar>




    <div class="info-container">
      <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="Name">
      </mat-form-field>

      <mat-form-field>
      <input matInput [(ngModel)]="email" placeholder="Email">
      </mat-form-field>

      <mat-form-field>
      <input matInput [(ngModel)]="phoneNo" placeholder="Phone Number">
      </mat-form-field>




    </div>



  <form class="event-creation-display">
    <div class="fileInput" matTooltip="Click to upload photo" matTooltipPosition="above">
      <input type="file" (change)="onFileSelected($event)"  id="file-input">
      <label for="file-input">
        <img [src]="url">
      </label>
    </div>
  </form>

</div>
</div>
