<app-header></app-header>
<div class="header2">
  <div class="img"></div>
  <h2>{{job.Title}}</h2>
</div>
<div class="job-details">
  <mat-card class="container">
    <h3 class="detail-header">Job Details</h3>
    <mat-divider id="line"></mat-divider>
  <div class="info">
      <p><span>Offered by: </span>{{job.Owner?.UserName}}</p>
      <p><span>Owner email: </span>{{job.Owner?.Email}}</p>
      <p *ngIf="job.Owner?.PhoneNumber && job.Owner?.PhoneNumber!=''"><span>Owner number: </span>{{job.Owner?.PhoneNumber}}</p>
      <p><span>Job Type: </span>{{getStringValue(job.Type)}}</p>
      <p><span>Job description: </span>{{job.Description}}</p>
            <p><span>Requirements: </span></p>
      <mat-list class="requirements">
          <mat-list-item class="list-item" *ngFor="let req of this.job.Skills">{{req}}</mat-list-item>
        </mat-list>
  </div>
  <div class="info" *ngIf="job.Assigne!=null">
    <p><span>Assigned to: </span>{{job.Assigne?.UserName}}</p>
    <p><span>Assigne email: </span>{{job.Assigne?.Email}}</p>
    <p *ngIf="job.Assigne?.PhoneNumber && job.Assigne?.PhoneNumber!=''"><span>Assigne number: </span>{{job.Assigne?.PhoneNumber}}</p>
  </div>

  <div class="info" *ngIf="job.Assigne!=null">
    <p *ngIf="job.AssigneeReview!=null && job.AssigneeReview!=''"><span>Assignee Review: </span>{{job.AssigneeReview}}</p>
    <p *ngIf="job.OwnerReview!=null && job.OwnerReview!=''"><span>Owner Review: </span>{{job.OwnerReview}}</p>
  </div>
  <div class="review-button" *ngIf="canReview" (click)="review()">Add/modify review</div>
</mat-card>
  <div class="right-side">
    <img class="photo" src="{{this.job.photo}}">
    <div class="button" *ngIf="canApply" (click)="apply()">APPLY</div>
    <div class="button" *ngIf="canUnapply" (click)="unapply()">UNAPPLY</div>
    <div class="make-available-button" *ngIf="canMakeFree" (click)="makeFree()">Make it available</div>
  </div>
</div>
