<div class = "body">
  <div class="container">
    <div class="header">
      <div class="logo">
      </div>
      <mat-toolbar color="dark" class="subtitle">Register</mat-toolbar>
    </div>

  <div class="register-container" [formGroup]="userForm">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email" required email>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="tel" pattern="^07(.*)" formControlName="phoneNo" placeholder="Phone Number" maxlength="10" minlength="10">
    </mat-form-field>


    <mat-form-field>
      <input matInput formControlName="password" placeholder="Password" type="password" required>
    </mat-form-field>


    <mat-form-field>
      <mat-select required placeholder="User type" formControlName="userType">
        <mat-option value="Client">Client  </mat-option>
        <mat-option value="Provider">Provider </mat-option>
      </mat-select>
    </mat-form-field>
    *Client - the one who searches for jobs<br>
    *Provider - the one who provides jobs<br>
    <button type="submit" (click)="register()" [disabled]="!userForm.valid" mat-flat-button class="register-button">
      Submit
    </button>
  </div>

</div>
</div>
