<div class = "body">
  <div class="container">
    <div class="header">
      <div class="logo">
      </div>
      <mat-toolbar color="dark" class="subtitle">Create Job</mat-toolbar>
    </div>

  <div class="register-container">
    <mat-form-field>
      <input matInput [(ngModel)]="title" placeholder="Job Name">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [(ngModel)]="description" placeholder="Description"></textarea>
    </mat-form-field>

    <button (click)="createJob()" mat-flat-button class="register-button">
      Create
    </button>
  </div>
</div>
</div>

