<div class = "body">
  <div class="container">
    <div class="header">
      <div class="logo">
      </div>
      <mat-toolbar color="dark" class="subtitle">Create Job</mat-toolbar>
    </div>

  <div class="register-container">
    <mat-form-field>
      <input matInput [(ngModel)]="title" placeholder="Job Name">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="description" placeholder="Description">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="offeredBy" placeholder="Company">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="type" placeholder="Full/Part-time">
    </mat-form-field>

    <!-- If we keep start date / end date field we need to add those to the model too -->
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose the starting date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- TODO:
    Make possible to upload an image -->

    <button (click)="createJob()" mat-flat-button class="register-button">
      Create
    </button>
  </div>
</div>
</div>

